[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/Academic"]
	path = themes/Academic
	url = https://github.com/budparr/gohugo-theme-ananke.git
